.form-group {
    border: 0;
}

.form-group > .form-legend {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #e53935;
}

.form-group > .form-text {
    margin: 0 auto 15px auto;
}

.input-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.input-group label {
    font-weight: bold;
    margin-bottom: 5px;
    font-size: 1em;
}

input {
    padding: 5px;
    border: 1px solid #e53935;;
    border-radius: 4px;
    font-size: 1em;
    width: 100%;
}