*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper  {
    padding-top: 20px;
    padding-bottom: 20px;
}

.banner {
    border: 1px solid #000;
    background: #ffa040;
    padding: 10px;
    margin-bottom: 10px;
}

.banner a, .banner a:visited, .banner a:active {
    color: #1134f7;
    text-decoration: underline;
    font-weight: bold;
}

.site-content {
    width: 100%;
    margin: 0 auto;
    padding: 20px;
}