*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.wrapper  {
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    height: 100%;
}

.wrapper-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.display-none {
    display: none;
}

.banner {
    border: 1px solid #000;
    background: #f0f0f0;
    padding: 10px;
    margin: 3px 0;
    flex: 0 0 auto;
}

.banner a, .banner a:visited, .banner a:active {
    color: #1134f7;
    text-decoration: underline;
    font-weight: bold;
}

.banner.banner-error {
    background: #ff4040;
}
.banner.banner-success {
    background: #40ff40;
}
.banner.banner-info {
    background: #40a0ff;
}
.banner.banner-info p {
    color: #000;
}
.banner.banner-warning {
    background: #ffa040;
}

.site-content {
    width: 100%;
    height: 100%;
}

.panel {
    display: flex;
    flex: 1 0 auto;
    flex-direction: row;
    width: 100%;
    height: 100%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 10px 15px;
}